<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#navbar-ex-collapse">
			<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
		</button>
		<a class="navbar-brand"><span>PROJECT NAME</span></a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-ex-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li id="home" class="active"><a href="/soccer-kick/views/home/home.html">Home</a></li>
			<li id="teams"><a href="/soccer-kick/views/teams/teams.html">Teams</a></li>
			<li id="createTeam"><a href="#">Create Team</a></li>
			<li id="myTeam"><a href="#">My Team</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
				data-toggle="dropdown"><img id="profileThumnail"
					src="/soccer-kick/images/commons/baseUserIcon.png"
					style="width: 15px; height: 15px;" />&nbsp; <strong id="username">Username</strong>
					<span class="glyphicon glyphicon-chevron-down"></span> </a>
				<ul class="dropdown-menu">
					<li>
						<div class="navbar-login">
							<div class="row">
								<div class="col-lg-4">
									<p class="text-center">
										<img id="profileThumnail2"
											src="/soccer-kick/images/commons/baseUserIcon.png"
											style="width: 87px; height: 87px;" />
									</p>
								</div>
								<div class="col-lg-8">
									<p class="text-left">
										<strong>Username</strong>
									</p>
									<p class="text-left small">useremail@gmail.com</p>
									<p class="text-left">
										<a href="" class="btn btn-primary btn-block btn-sm"
											data-toggle="modal" data-target="#profileModal">Show/Edit
											Profile</a>
									</p>
								</div>
							</div>
						</div>
					</li>
					<li class="divider"></li>
					<li>
						<div class="navbar-login navbar-login-session">
							<div class="row">
								<div class="col-lg-12">
									<p>
										<a href="#" class="btn btn-danger btn-block">Log Out</a>
									</p>
								</div>
							</div>
						</div>
					</li>
				</ul></li>
		</ul>
	</div>
</div>