<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="bootstrap-3.3.6.css">
<link rel="stylesheet" type="text/css" href="management.css">
<link rel="stylesheet" type="text/css" href="card.css">
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="management.js"></script>

<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
	$(function() {
		$(".card-wrap").hover(function() {
			$(this).find(".info-blur").css("top", "0%");
		}, function() {
			$(this).find(".info-blur").css("top", "-100%");
		});
	});
</script>
</head>

<body>
	<div class="container">

		<div class="carousel col-md-12">
			<div class="carousel-inner onebyone-carosel">
			
				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img1" src="images/1.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img2" src="images/2.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img3" src="images/3.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img4" src="images/4.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img5" src="images/5.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img6" src="images/6.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img7" src="images/7.jpg" class="card-img">
						</div>
					</div>
				</div>

				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img8" src="images/8.jpg" class="card-img">
						</div>
					</div>
				</div>
				
				<div class="thumbnails ">
					<div class="col-md-4">
						<div class="card-wrap">
							<div class="bt info-blur">
								<p>이름 : 호날두</p>
								<p class="position">포지션 : GK</p>
								<p>신장 : 160cm</p>
								<p>몸무게 : 60kg</p>
								<p>생일 : 1960-06-06</p>
								<p>주소 : 부천시 심곡본동</p>

								<a href="#" style="text-decoration: none;" onclick="move(this);">승인</a>
								<a href="#" style="text-decoration: none;"
									onclick="cancel(this);">거부</a>
							</div>
							<img id="img9" src="images/9.jpg" class="card-img">
						</div>
					</div>
				</div>

			</div>
			<a class="left carousel-control" href="#eventCarousel"
				onclick="prev();"></a> <a class="right carousel-control"
				href="#eventCarousel" onclick="next();"></a>
		</div>



		<h3>팀원목록</h3>
		<hr />

		<div class="imgs" style="display: inline-block;">
			<h3>골기퍼(GK)</h3>
			<div id="GK" ondragover="return false;" ondrop="drop(this, event);"
				style="height: 100px;" class="form-group">
				<img id="img11" src="images/11.jpg" 
					ondragstart="drag(this, event);">

			</div>
			<hr>
			<h3>디펜더(DF)</h3>
			<div id="DF" ondragover="return false;" ondrop="drop(this, event);"
				style="height: 100px;" class="form-group">
				<img id="img12" src="images/12.jpg" 
					ondragstart="drag(this, event);">

			</div>
			<hr>
			<h3>미드필더(MF)</h3>
			<div id="MF" ondragover="return false;" ondrop="drop(this, event);"
				style="height: 100px;" class="form-group">
				<img id="img13" src="images/13.jpg" 
					ondragstart="drag(this, event);">

			</div>
			<hr>
			<h3>포워드(FW)</h3>
			<div id="FW" ondragover="return false;" ondrop="drop(this, event);"
				style="height: 100px;" class="form-group">
				<img id="img14" src="images/4.jpg" 
					ondragstart="drag(this, event);">

			</div>
			<hr>
		</div>




	</div>



</body>
</html>