/* 泥섏쓬�뿉 �씠誘몄� �쟾遺� �닲湲곌린 */
.thumbnails{
	display: none;
}

.bt-success {
	margin-top: 8px;
}

.bt>img {
	width: 220px;
	height: 145px;
}

.imgs  img{
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.carousel-inner.onebyone-carosel {
	margin: auto;
	width: 65%;
}

.onebyone-carosel .active.left {
	left: -33.33%;
}

.onebyone-carosel .active.right {
	left: 33.33%;
}

.onebyone-carosel .next {
	left: 33.33%;
}

.onebyone-carosel .prev {
	left: -33.33%;
}

.bt.active {
	display: none;
}

.bt span:nth-of-type(1) {
	display: none;
}

.bt span:last-child {
	display: block;
}

.bt.active  span:nth-of-type(1) {
	display: block;
}

.bt.active span:last-child {
	display: none;
}

a {
	text-decoration: none;
	color: red;
}

p {
	margin-bottom: -2px;
}
