/bin/
/.gradle/
/.settings/
/.classpath
/.project
/build/
/bower_components/
/src/main/webapp/lib/
/node_modules/socket.io/lib/*
/node_modules/socket.io/node_modules/*
/node_modules/socket.io/.npmignore
/node_modules/socket.io/.travis.yml
/node_modules/socket.io/*.md
/node_modules/socket.io/LICENSE
/node_modules/socket.io/Makefile

/node_modules/express/lib/*
/node_modules/express/node_modules/*
/node_modules/express/.npmignore
/node_modules/express/.travis.yml
/node_modules/express/*.md
/node_modules/express/LICENSE
/node_modules/express/Makefile
/node_modules/express/*.js

/node_modules/mysql/lib/*
/node_modules/mysql/node_modules/*
/node_modules/mysql/.npmignore
/node_modules/mysql/.travis.yml
/node_modules/mysql/*.md
/node_modules/mysql/LICENSE
/node_modules/mysql/Makefile
/node_modules/mysql/*.js